@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-yellow: #faf8d4;
  --Almond: #ebdccb;
  --dun: #c3baaa;
  --taupe-gray: #91818a;
  --Rose-quartz: #b2a3b5;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Almond);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}

form {
  width: fit-content;
  margin: 1rem auto 0 auto;
}
footer {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}
.cocktail-container {
  margin: 1rem;
}
.cocktail {
  background-color: var(--light-yellow);
  padding: 1rem;
  margin: 1rem 0;
}
.cocktail img {
  width: 24rem;
  object-fit: cover;
}
.cocktail h2 {
  margin: 0;
  font-weight: 400;
}
.cocktail ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.display-close {
  display: none;
}
.display-open {
  padding-top: 1rem;
  display: flex;
}
