:root {
  --light-yellow: #faf8d4;
  --Almond: #ebdccb;
  --dun: #c3baaa;
  --taupe-gray: #91818a;
  --Rose-quartz: #b2a3b5;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Almond);
}

header {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}
footer {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}
.cocktail-container {
  background-color: var(--dun);
}
.cocktail {
  padding: 1rem;
}
.cocktail img {
  width: 320px;
}
.cocktail h2 {
  margin: 0;
}
.cocktail ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.display-none {
  display: none;
}
.display-open {
  display: block;
}
