:root {
  --light-yellow: #faf8d4;
  --Almond: #ebdccb;
  --dun: #c3baaa;
  --taupe-gray: #91818a;
  --Rose-quartz: #b2a3b5;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Almond);
  font-size: 1.6rem;
}

header {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}
footer {
  background-color: var(--light-yellow);
  padding: 1rem;
  text-align: center;
}
.cocktail-container {
  margin: 1rem;
}
.cocktail {
  background-color: var(--light-yellow);
  padding: 1rem;
  margin: 1rem 0;
}
.cocktail img {
  width: 24rem;
  object-fit: cover;
}
.cocktail h2 {
  margin: 0;
}
.cocktail ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
}
.display-close {
  display: none;
}
.display-open {
  padding-top: 1rem;
  display: flex;

  align-items: center;
}
